@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter Bold";
  src: url(../fonts/Inter-Bold.ttf);
}
@font-face {
  font-family: "Inter Semi-bold";
  src: url(../fonts/Inter-SemiBold.ttf);
}

.news-container{
  width: 100%;
  min-height: 600px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.top-news{
  min-height: 600px;
  width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
  /* background-color: blue; */
}

.top-news-title{
  width: 90%;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  font-family: "Inter Semi-bold";
  font-size: 15px;
  border-bottom: solid 1px #000000;
  /* background-color: red; */
}

.top-news-hero{
  width: 90%;
  height: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #000000;
  /* background-color: purple; */
}

.hero-art{
  height: 100%;
  width: 100%;
}

.top-news-content{
  width: 90%;
  min-height: 100px;
  font-family: "Inter Bold";
  border-bottom: #000000 solid 1px;
  /* background-color: green; */
}

.top-news-content h2{
  font-size: 20px;
  margin: 5px;
}

.top-news-content p{
  font-family: "Inter";
  font-size: 15px;
  margin: 5px;
}

.other-news{
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
  border-bottom: solid black 1px;
}
.other-news p{
  font-family: "Inter Semi-bold";
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.pr-container{
  width: 100%;
  margin: 20px;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.pr-title{
  width: 90%;
  font-family: "Inter Bold";
}

.pr-items{
  width: 90%;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: center;
  font-family: "Inter Semi-bold";
  font-size: 14px;
  padding-left: 15px;
  margin-top: 10px;
}

.pr-items .rank{
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: space-around;
  margin-bottom: 5px;
}

.pr-items .rank p{
  margin-right: 5px;
}