@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
    font-family: "Inter Bold";
    src: url(../fonts/Inter-Bold.ttf);
}
@font-face {
    font-family: "Inter Semi-bold";
    src: url(../fonts/Inter-SemiBold.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: #FF4101; */
    /* background-color: #39B2A7 ; */
    /* background-color: #EF1325 */
    background-color: #ffffff;
    margin: 0;
}

.home-header{
    width: 100%;
    min-height: 100px;
    box-shadow: 0 4px 10px -2px #000000;
}

.home-nav{
    width: 100%;
    min-height: 100px;
    position: fixed;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-evenly;
    font-family: "Inter Semi-bold";
    color: #ffffff;
    font-size: 17px;
    background-color: #000000;
}

.home-nav ul{
    width: 100%;
    min-height: 100px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-evenly;
    text-decoration: none;
    border-bottom: solid black 2px;
}

.home-nav ul li{
    width: auto;
    min-height: auto;
    list-style: none;
    text-decoration: none;
    margin: 20px;
    border: solid transparent;
    cursor: pointer;
}

.home-nav ul li:hover{
    opacity: .8;
    border-bottom: solid hsl(0, 0%, 0%,80%) 2px;
    cursor: pointer;
    transition: all ease-in 200ms;
}